.main {
    --back: #d8f3dc;
    --text: #2d6a4f;
}

.main {
  min-height: 100vh;
  font-family: 'PressStart2P', sans-serif;
  color: var(--text);
}

.headerContainer{
  z-index: 10;
    position: fixed;
    top: 0;
    background-color: #081c15;
    width: 100%;
    height: 100px;
    display: flex;
}

@media (max-width: 426px) {
    .main {
      background-color: var(--back);
    }
    .headerContainer  {
        overflow: hidden;
        max-width: 425px;
    }
  }

  @media (max-width: 800px) {
    .main {
      background-color: var(--back);
    }
    .headerContainer  {
        overflow: hidden;
        max-width: 800px;
    }
  }

  @media (max-width: 1444px) {
    .main {
      background-color: var(--back);
    }
    .headerContainer  {
        overflow: hidden;
        max-width: 1444px;
    }
  }

  @media (max-width: 2562px) {
    .main {
      background-color: var(--back);
    }
    .headerContainer  {
        overflow: hidden;
        max-width: 2560px;
    }
  }

  .headerText {
    width: 90%;
    text-align: center;
}