.mainContainer {
  --back: #0f1012;
  --text: #fffaff;
  --highlight: #7ae582;
  --secondHighlight: #5d2e8c;
  font-family: "Roboto";
  color: var(--back);
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 1024px) {
  .mainContainer {
    width: 70%;
    margin: 0 auto;
  }
}

.pfp {
  border-width: 3px;
  border-style: solid;
  border-color: var(--backDark);
  border-radius: 5px;
}

.more {
  display: none;
}

.readButton {
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--secondHighlight);
  color: var(--highlight);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.readButton:hover {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.buttonResume {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--secondHighlight);
  color: var(--highlight);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonResume:hover {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.buttonSpan {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  background-image: url("../public/downloadIcon.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.aboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.aboutMeContainer h1 {
  text-align: center;
  width: 100%;
}

.aboutMeContainer p {
  padding: 25px;
  margin: 0 auto;
  width: 70%;
}

.downloadResumeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.techStackContainer h1 {
  width: 100%;
  text-align: center;
}

.techStackContainer {
  display: flex;
  flex-wrap: wrap;
}

.techStackContainer a {
  width: 33%;
  text-align: center;
}

.socialsContainer h1 {
  text-align: center;
  width: 100%;
}

.socialsContainer {
  display: flex;
  flex-wrap: wrap;
}

.socialsContainer a {
  width: 33%;
  text-align: center;
}

.hobbiesContainer {
  width: 80%;
  margin: 0 auto;
}

.hobbiesContainer h1 {
  text-align: center;
  width: 100%;
}

.videosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.hobbiesImagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
