.mainContainer {
  --back: #0f1012;
  --text: #fffaff;
  --highlight: #7ae582;
  --secondHighlight: #5d2e8c;
  font-family: "Roboto";
  color: var(--back);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.blogCard {
  width: 80%;
  display: flex;
  margin-top: 60px;
  align-items: center;
  text-align: justify;
}

.cardText {
  width: 80%;
  margin-left: 25px;
  margin-right: 25px;
}

.readButton {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--secondHighlight);
  color: var(--highlight);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: fit-content;
}

.readButton:hover {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
