.main {
  --backDark: #0f1012;
  --backLight: #fffaff;
  --highlight: #7ae582;
  --text: #5d2e8c;
  font-family: "Roboto";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.title h1 {
  width: 80%;
  padding-left: 25px;
}

.titleImage {
  width: 100%;
}

.myImg {
  width: 125px;
  height: 125px;
  line-height: 0;
  border-width: 3px;
  border-style: solid;
  border-color: var(--backDark);
  border-radius: 5px;
}

.description {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 13px;
}

.button54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--text);
  color: var(--highlight);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button54:hover {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 80px;
  }
  .title {
    display: flex;
    flex-wrap: nowrap;
  }

  .titleImage {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .myImg {
    height: 150px;
    width: 150px;
  }

  .title h1 {
    padding-right: 25px;
  }
  .description {
    width: 80%;
    padding-top: 40px;
    text-align: justify;
  }
  .contact {
    padding-top: 30px;
  }
  .button54 {
    padding: 0.25em 0.75em;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-top: 80px;
  }
  .title {
    display: flex;
    flex-wrap: nowrap;
  }

  .titleImage {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .myImg {
    height: 225px;
    width: 225px;
  }

  .title h1 {
    width: 40%;
    font-size: 35px;
    padding-right: 25px;
  }
  .description {
    width: 100%;
    text-align: center;
    text-align: justify;
  }
  .description h2 {
    width: 40%;
    margin: 0 auto;
  }
  .contact {
    padding-top: 30px;
  }
  .button54 {
    padding: 0.25em 0.75em;
  }
}

@media (min-width: 1024px) {
  .textContainer {
    font-size: 80px;
  }
}
