.bodyContainer {
    --back: #222823;
    --text: #fffaff;
    --highlight: #7ae582;
    --secondHighlight: #5D2E8C;
}

.textContainer {
  font-size: 30px;
  color: #222823;
  -webkit-mask-image: url(textBackground.gif);
  mask-image: url(textBackground.gif);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

