.mainContainer {
  --back: #0f1012;
  --text: #fffaff;
  --highlight: #7ae582;
  --secondHighlight: #5d2e8c;
  font-family: "Roboto";
  width: 100%;
}

.titleContainer {
  text-align: center;
  height: 100px;
}

.mainContainer p {
  width: 70%;
  margin: 0 auto;
  line-height: 2rem;
}

.paragraph {
  padding-bottom: 34px;
}

.blogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.dataContainer {
  width: 100%;
}

.dataContainer p {
  padding-bottom: 20px;
}

.dataContainer h2 {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.dataContainer h3 {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.dataContainer h4 {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.dataContainer a {
  text-decoration: underline;
}

.dataContainer img {
  width: 100%;
  margin: 20px 0 20px 0;
}

.dataContainer ul {
  width: 70%;
  margin: 0 auto;
}

.dataContainer ol {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 426px) {
  .image {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
